.custom-form-field {
    margin-left: 50%;
    top: 100px;
    position: relative;
  
    mat-form-field {
      width: 300px;
      margin-bottom: 20px;
    }
  
    mat-select {
      width: 100%;
      background-color: #f5f5f5;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
  
      &:focus-within {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
  
    mat-option {
      font-size: 16px;
    }
  }
  